<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <link rel="stylesheet" href="/stylesheets/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-aria.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-material.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/download.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>
  <div>
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 flex="20">Podcast Nations</h1>
            <md-button href="/home">HOME</md-button>
            <md-button href="/categories">Discover</md-button>
            <span flex=""></span>
          <div ng-controller="search" layout="row">
            <input type="text" class="form-control"  ng-model="text" placeholder="Enter here...">
            <md-button type="button" ng-click="doit(text)">Search</md-button>
          </div>
          <div ng-controller="login">
            <md-button ng-click="showLogin($event)">login</md-button>
          </div>
          <div ng-controller="register">
            <md-button ng-click="showRegistration($event)">Register</md-button>
          </div>
        </div>
      </md-toolbar>
    </md-content>
    </div>
    <div ng-controller="podcasts">
      <section layout="row">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
          <md-toolbar class="md-theme-indigo" layout-fill>
            <div ng-controller="audioPlayer">
              <div ng-repeat="foo in foo">
                <audio controls autoplay preload="auto">
                  <source src="{{foo.url}}">
                </audio>
              </div>
            </div>
            <h2 class="title">PLAYLIST</h2>
          </md-toolbar>
          <md-content>
            <div layout="column">
              <div data-ng-repeat="playlist in episode">
                <div class="md-whiteframe-2dp" layout layout-align="center right">
                  <img src="{{playlist.podImage}}">
                  <div>
                  <span class="epTitle">{{playlist.epTitle}}</span>
                  <div>
                    <md-button ng-click="play(playlist.epUrl)">PLAY</md-button>
                    <md-button ng-click="delete(playlist.epTitle)">X</md-button>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </md-content>
        </md-sidenav>
  <div ng-view="" style="padding: 5px;"></div>
      </section>
    </div>
  </div>
  </body>
</html>